@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'DM_Sans';
  src: url('/DM_Sans/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'DM_Sans';
  src: url('/DM_Sans/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* you can also add more weights/styles similarly */

body {
  font-family: 'DM_Sans', sans-serif;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
